/* description of this file will be added once the codebase is finished */



body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* this aligns children (timer and buttons) vertically */
    font-family: 'Chivo', sans-serif;
    background-color: #050404;
}

#chrona-pomodoro, #controls {
    width: 100%; /* ensures full width */
    display: flex;
    justify-content: center; /* centers content horizontally */
    text-align: center;
}

.time-option:hover {
    background-color: #383838;
}

#timer {
    position: relative;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none; /* prevent text selection */
    color: #ffffff; /* light text color for contrast */
    background-color: #33333300; /* dark background for the timer */
    font-family: 'Chivo', sans-serif;
    font-size: 75px; /* adjust as needed */
    top: 0;
    margin-bottom: 20px;
}   

/* general button styling */
#controls button {
    transition: background-color 0.3s ease, transform 0.3s ease, opacity 0.3s ease, font-size 0.3s ease;
    align-items: center;
    padding: 12px 25px; /* length / width */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 8px; /* space between buttons */
    user-select: none;
    display: inline-flex;
    background-color: #7b7979; /* light grey background */
  }

/* Hover effect */
#controls button:hover {
    opacity: 0.9;
    transform: scale(1.05);
    background-color: #e0e0e0;
    font-size: 24px; /* font size on the header */
  }

/* active/focus effect */
#controls button:active, #controls button:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}
