/* description of this file will be added once the codebase is finished */



body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* this aligns children (timer and buttons) vertically */
    font-family: 'Chivo', sans-serif;
    background-color: #050404;
}

#chrona-pomodoro, #controls {
    width: 100%; /* ensures full width */
    display: flex;
    justify-content: center; /* centers content horizontally */
    text-align: center;
}


/* time dropdown main styling*/
.time-dropdown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* center the drop */
    min-width: 160px;   /* set minimum width to 160 */
    top: 60%;  /* put the drop down right below the buttons */
    margin-top: 5px; /* space between timer and dropdown */
    border-radius: 5px;
    z-index: 1000; /* make sure above content */
    display: none; /* hidden first */
    background-color: #2B2B2B; /* dark backround for drop */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* time dropdown styling */
.time-option {
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    color: #E0E0E0; /* light color for contrast */
    border-bottom: 1px solid #464646; /* options border/divider */
    font-size: 20px;
    font-family: 'Chivo', sans-serif;
}

.time-option:hover {
    background-color: #383838;
}

#timer {
    position: relative;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none; /* prevent text selection */
    color: #ffffff; /* light text color for contrast */
    background-color: #33333300; /* dark background for the timer */
    font-family: 'Chivo', sans-serif;
    font-size: 45px; /* adjust as needed */
    top: 0;
    margin-bottom: 20px;
}   

/* general button styling */
#controls button {
    transition: background-color 0.3s ease, transform 0.3s ease, opacity 0.3s ease, font-size 0.3s ease;
    align-items: center;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px; /* space between buttons */
    user-select: none;
    display: inline-flex;
    background-color: #7b7979; /* light grey background */
  }

/* Hover effect */
#controls button:hover {
    opacity: 0.9;
    transform: scale(1.05);
    background-color: #e0e0e0;
    font-size: 24px; /* font size on the header */
  }

/* active/focus effect */
#controls button:active, #controls button:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}
